body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff3f3;
}

header {
    background-color: #c62828;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #b71c1c;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

.pizza {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

button {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a30000;
}

footer {
    background-color: #b71c1c;
    color: white;
    text-align: center;
    padding: 10px;
      }
